
h2
{

	padding-left: 200px;
}

.header
{
	height: 100px;
	width: 550px;
	margin: 8px;
	
	border: 2px solid #C6C0C0;
}
div div
{
	display: inline-block;
	border: 2px solid #C6C0C0;
	margin: 8px;
	

}

.one
{
	height: 75px;
	width: 120px;
	background-color: #BFBABA;
	
}
.two
{
	height: 75px;
	width: 120px;
	background-color: #BFBABA;
	
}
.three
{
	height: 75px;
	width: 120px;
	background-color: #BFBABA;
	
}
.four
{
	height: 75px;
	width: 120px;
	background-color: #BFBABA;
	
}
.five
{
	height: 75px;
	width: 120px;
	background-color: ;
	
}
.six
{
	height: 75px;
	width: 120px;
	
}
.seven
{
	height: 75px;
	width: 120px;
	
}
.eight
{
	height: 75px;
	width: 120px;
	background-color: #C6C0C0;
	
}
.nine
{
	height: 75px;
	width: 120px;
	
}
.ten
{
	height: 75px;
	width: 120px;
	
}
.eleven
{
	height: 75px;
	width: 120px;
	
}
.twelve
{
	height: 75px;
	width: 120px;
	background-color: #C6C0C0;
	
}

.a
{
	height: 75px;
	width: 120px;
	
}
.b
{
	height: 75px;
	width: 120px;
	
}
.c
{
	height: 75px;
	width: 120px;
	
}
.d
{
	height: 75px;
	width: 120px;
	background-color: #C6C0C0;
	
}

.e
{
	height: 75px;
	width: 120px;
	
}
.f
{
	height: 75px;
	width: 120px;
	
}
.g
{
	height: 75px;
	width: 120px;
	background-color: #0897E9;
	border-color: #14A6FA;
	
}
.h
{
	height: 75px;
	width: 120px;
	background-color: #C6C0C0;
	
}
p
{

	font-size: 32px;
	text-align: center;
	position: relative;
	bottom: 15px;
}
#abcd
{
	font-size: 50px;
	text-align: right;
	position: relative;
	bottom: 20px;
}
#equal
{
	color: white;
}

#new
{
	font-size: 12px;
	text-align: left;
	padding-left: 10px;
}




